cover.out
cover.out.tmp
virt.cer
socio.exe
app.exe
.env
/cmd/app/app
/cmd/app/app.exe
/cmd/user/user
/cmd/user/user.exe
dump.rdb
tern.conf
.vscode
socio-docker.session.sql
fullchain.pem
privkey.pem
/static
/volumes
mc
post-attachments.txt
user-avatars.txt
node_exporter-1.2.2.linux-amd64
csrf.txt
headers.txt
