cover.out
cover.out.tmp
virt.cer
socio.exe
app.exe
.env
/app/app
/app/app.exe
dump.rdb
tern.conf
.vscode
socio-docker.session.sql
fullchain.pem
privkey.pem
socio.conf
/static
/volumes
/mocks
